@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.logo{

    width: 19em;
}

 h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    font-size: 2em;
    line-height: 1.1;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #de8704;
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: .5em;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #8f5804;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.1;
}
.servicos h4{

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#8f5804;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.1;
}
h1{
    font-size: 3em;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.1;
}


h2{
    font-size: 2em;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: .2em;

}

 a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #7d7d7d;
}
.ptitle{
    font-size: 1.3em;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);

    color: #ffffff;
    padding-left: .5em;
    padding-right: .5em;

}

.pcirurgia{

    font-size: 1.3em;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
    padding: 1em;
    color: #ffffff;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    

        background-color: #f5f9fc;
  
}

header {
    background-color: #dbad8e;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);


    background: linear-gradient(to right, #e9dfd8, #fbc596, #e0b179);

 

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;

}

.menu li {
    margin: 0 15px;
    padding: .5em;
}

.menu a {
    color:#ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 3px 0;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    text-align: center;
    z-index: 5;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 1s ease;
}

.carousel img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.cta-button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  
 
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0,#e4935c 0, #7f441d , #f28a44 100%);
    border: 0;
    border-radius: 50px;
    box-shadow: rgba(80, 50, 22, 0.4) 0 2px 4px,rgba(239, 169, 82, 0.3) 0 7px 20px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
 
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
   padding: 1.5em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1em;
    top:-40px;
    transform: scale(1);
    transition: all ease .3s;
  
}

.cta-button:hover {
    background-image: radial-gradient(100% 100% at 100% 0,#f0c6aa 0, #dd874f , #f2d1bb 100%);
   transform: scale(1.1);
   transition: all ease .3s;
}

.agendar {
    padding: 50px 20px;
    background-color: #dec9ba;
    text-align: center;
    color: white;
    background-color: #dec9ba36;
 
}
.agendar p{

margin-bottom: 1em;
}
.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.servicos {
    padding: 50px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
    gap: 1em;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;

}

.card img {
    width: 100%;
    border-radius: 8px;
}

.sobre {
    padding: 50px 20px;
    text-align: center;
    max-width: 870px;
    margin: auto;
    text-align: left;
   
}
.ico_sobre img{

width: 2em;
}
.ico_inf img{

    width: 3em;
    }
.tec{
display: flex;
margin-top: 3em;
gap: 1.4em;


}

.bg_auto{

    background-color: #ffffff00;
    border-radius: 40px;
    padding: 1.2em;

}

.auto {
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    max-width: 870px;
    margin: auto;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
   
}


.section_auto{

    background-image: url("img/bg_auto.png");
    background-repeat: no-repeat;
    object-fit: cover;
height: 100%;
    max-height: 650px;
}

.bg_section_tec{
    background-image: url("img/bg_sobre.png");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;

}
.section_tec {
    padding: 50px 20px;
    text-align: center;
    max-width: 1020px;
    margin: auto;
    text-align: center;


   
}
.icone_tec img{
width:5em;

}

.fotos-grid {
    padding: 50px 20px 70px;
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.grid-container p{
    display: block;
   
    text-align: center;
   
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.contato {
    padding: 50px 20px;
    text-align: center;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.section_fim{

    background-image: url("img/bg_fim.png");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;

    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 153px;

}
.section_fim p{
padding-bottom: 4em;
}
.section_fim h3{
text-align: center;
padding-top: 2em;
padding-bottom: 2em;

color: #de8704;
}
.section_fim h2{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    

    }
.section_fim h1{
  max-width: 400px;
  color: #de8804;
  filter: none;
  padding-bottom: 1em;
  
 
    }
.conteudo_fim{

    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}


.conteudo_fim div{

  max-width: 400px;
}


/* depoimento */

.dep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 252px);
    /* gap: 10px; */
    margin-top: 3em;
    gap: 1.4em;
    column-gap: 2em;
    row-gap: 1em;
    
    }

    .dep p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: ₢;
        /* background-color: #ffffff70; */
        /* border-radius: 20px; */
        padding: .4em;
        border-bottom: 1px solid #de8804;
    }
    .dep h4{

        padding: .3em;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
    }

    .dep h4 img{

width: 5em;
    }
.bg_section_dep{
    background-image: url("img/bg_dep.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    background-position-y: center;
    background-position-x:center;

}
.section_dep {
    padding: 50px 20px;
    text-align: center;
    max-width: 1020px;
    margin: auto;
    text-align: center;


   
}

.icone_dep img{
    width: 5em;
    border-radius: 50%;
    border: 2px solid #de8804;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    }


@media (max-width: 1640px) {


.bg_auto{

    background-color: #ffffffb5;
    border-radius: 40px;
    padding: 1.2em;


}
.section_fim h3{

    text-align: center;
    padding: .2em;
    padding-bottom: .2em;
    padding-top: 1em;
    color: #ffffff;
    font-size: 1.8em;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
}

.conteudo_fim{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
 

}

}

@media (max-width: 768px) {
    .dep {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 252px);
        /* gap: 10px; */
        margin-top: 3em;
        gap: 1.4em;
        column-gap: 2em;
        row-gap: 5em;
    }
   
.whatsapp-button {

        bottom:-62vh;
            }
    h1{

        font-size: 2.2em;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
       
        right: 0;
        background-color: #333;
        padding: 10px 0;
     
    }
.tec {
    flex-wrap: wrap;
}
    .menu.active {
        display: flex;
       
        width: 50%;
        align-items: flex-end;
   
    }

   


    .hamburger {
        display: flex;
    }

    .cards {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: none;
    }


    .secao-principal {
        flex-direction: column;
        align-items: center;
      }
    
      .carrossel-container {
        max-width: 100%;
        padding: 15px;
      }
    
      .carrossel-wrapper {
        max-width: 100%;
      }
    
      .item-video video {
        width: 100%;
        height: auto;
      }
    
      .botao-carrossel {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    
      .botao-carrossel.anterior {
        left: 8px;
    }
    
      .botao-carrossel.proximo {
        right: 8px;
      }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   
    color: white;
    padding: 10px 0;
    text-align: center;

    filter: drop-shadow(3px 3px -3px #6f6d6db3);
    background: linear-gradient(to right, #e9dfd8, #fbc596, #e0b179);



}
.rod{

    display: block;
    padding: .5em;
}
.social-media {
    margin-bottom: 10px;
}

.social-icon {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
    filter: drop-shadow(3px 3px 3px #6f6d6db3);
}

.social-icon:hover {
    color: #f39c12;
}

footer p {
    font-size: 14px;
    color: #fff;
}

.titulo_destaque{

    margin-bottom: 1.5em;
    position: relative;
    top: -6vh;
}



/* collapsible */

.center_fac h3 {

  
    padding-left: 20px;
}
.center_fac h3 span img{
    width: 1.5em;
    margin-left: .3em;

}
.center_fac p {
    text-align: left;
    color: #929da5;
    font-size: 1em;
    padding-top: 1em;

}

.center_fac span {

    color: #05616f;
    font-weight: 600;


}

.center_fac {
    max-width: 1000px;
    margin: auto;
    padding: 1em 1em 2em 1em;

}
button.collapsible{

    position: relative;
}

.collapsible span img{
    position: absolute;
    width: 1.3em;
    right: 0;
    margin-right: 1em;
    }
.collapsible {
    background-color: #f4f7f8;
    border-radius: 40px;
    margin-bottom: 5px;
    color:rgb(131, 129, 129);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: all .3s ease;
    filter: drop-shadow(2px 2px 1px #ccc);
}


.active,
.collapsible:hover {
    background-color: #e9b782bb;
    transition: all .3s ease;
   
   
   
}

.content_collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border-radius: 20px;
}

.whatsapp-button {
    position: fixed;
    bottom: -72vh;
  z-index: 1000;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #1ebe5d;
    transform: scale(1.1);
}

.whatsapp-button2 {
    position: fixed;
    bottom: -65vh;
    right: 19px;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}




/* hospital */

.secao-principal {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;


  }
  
  .carrossel-container {
    flex: 1 1 450px;
    max-width: 500px;
   
    padding: 20px;
    border-radius: 12px;

  }
  
  .carrossel-container h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  

  .carrossel-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 848px;
    margin: 0 auto;
  }
  .faixa-carrossel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 200%;
  }
  
  .item-video {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .item-video video {
    width: 848px;
    height: 480px;
    max-width: 100%;
 
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .botao-carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
  }
  
  .botao-carrossel.anterior {
    left: 38px; /* ou 0 para ficar dentro do vídeo */
  }
  
  .botao-carrossel.proximo {
    right: 1px;
  }
  